@model Product

@{
    ViewData["Title"] = "Create";

    var categoryList = ViewData["categoryList"] as IEnumerable<SelectListItem>;

}

<h4>Product create</h4>
<hr />
<form asp-action="Create" method="post" class="row" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group col-md-6">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control " />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control " />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="ISBN" class="control-label"></label>
        <input asp-for="ISBN" class="form-control " />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Author" class="control-label"></label>
        <input asp-for="Author" class="form-control " />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control " />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="ListPrice" class="control-label"></label>
        <input asp-for="ListPrice" class="form-control " />
        <span asp-validation-for="ListPrice" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Price50" class="control-label"></label>
        <input asp-for="Price50" class="form-control " />
        <span asp-validation-for="Price50" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Price100" class="control-label"></label>
        <input asp-for="Price100" class="form-control " />
        <span asp-validation-for="Price100" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="QtyOnHand" class="control-label"></label>
        <input asp-for="QtyOnHand" class="form-control " />
        <span asp-validation-for="QtyOnHand" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="QtyAlert" class="control-label"></label>
        <input asp-for="QtyAlert" class="form-control " />
        <span asp-validation-for="QtyAlert" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="StockType" class="control-label"></label>
        <input asp-for="StockType" class="form-control " />
        <span asp-validation-for="StockType" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="CategoryId" class="control-label"></label>
        <select asp-for="CategoryId" asp-items="categoryList" class="form-control ">
            <option disabled selected>--select Category--</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="WarehouseId" class="control-label"></label>
        <select asp-for="WarehouseId" asp-items="@ViewData["WarehouseList"] as IEnumerable<SelectListItem>"
            class="form-control ">
            <option disabled selected>--select Warehouse--</option>
        </select>
        <span asp-validation-for="WarehouseId" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="BranchId" class="control-label"></label>
        <select asp-for="BranchId" asp-items="@ViewData["BranchList"] as IEnumerable<SelectListItem>"
            class="form-control ">
            <option disabled selected>--select Branch--</option>
        </select>
        <span asp-validation-for="BranchId" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="SupplierId" class="control-label"></label>
        <select asp-for="SupplierId" asp-items="@ViewData["SupplierList"] as IEnumerable<SelectListItem>"
            class="form-control ">
            <option disabled selected>--select Supplier--</option>
        </select>
        <span asp-validation-for="SupplierId" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="ImageUrl" class="ms-2"></label>
        <input type="file" name="file" class="form-control " />
    </div>
    <div class="form-group col-md-6">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
