@model MvcMovie.Models.ProductUnit

@{
    ViewData["Title"] = "Create";

}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDefault" class="form-check-label"></label>
                <input type="checkbox" asp-for="IsDefault" class="form-check-input" />
                <span asp-validation-for="IsDefault" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="UnitTypeId" class="control-label"></label>
                <select asp-for="UnitTypeId" asp-items="@ViewData["UnitTypeList"] as IEnumerable<SelectListItem>"
                    class="form-control ">
                    <option disabled selected>--select UnitType--</option>
                </select>
                <span asp-validation-for="UnitTypeId" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" asp-items="@ViewData["ProductList"] as IEnumerable<SelectListItem>"
                    class="form-control ">
                    <option disabled selected>--select Product--</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
